<div class="story-body">
<p class="dark-theme">
  <p>The Mayor's Office to End Domestic and Gender-Based Violence released a report in 2019 of the 588 domestic violence homicide incidents involving 599 victims from 2010 to 2018. The report, based on homicide data provided by the NYC, said that domestic violence homicides increased by 10 percent from 2017 to 2018. Intimate partner homicides, those who involve individuals who are currently or formerly married, divorced, dating or who have a children in common, increased by 15 percent in the same timeframe.</p> 
  <p>Over 76 percent of these homicide victims were female, and there were four times as many male perpetrators compared to female counterparts.</p>
  <p>The report didn't yet include 2019 data. But at a news briefing on Dec. 5, 2019, Mayor Bill de Blasio and NYPD Commissioner Dermot Shea released statistics showing that of the 300 murders reported up to that point, 59 were domestic violence victims. In 2018, 55 people were murdered in domestic disputes.</p>
</div>