<div class="story-body">
<p class="dark-theme">
  <p>The majority of intimate partner homicides occured in the Bronx, followed by Brooklyn and Queens. In 2018, there were six more murders in the Bronx compared to 2017.</p>
  <p>The use of a weapon or knife is the most common instrument to commit these intimate partner homicides, according to city data. In almost half of these crimes, a knife or a cutting instrument was used. Firearms were used in over 23 percent of cases. The number of homicides involving weapons and knives increased from 17 in 2017 to 24 in 2018.</p>
</div>