<div class="story-body">
<p class="dark-theme">
  <p>Other domestic violence cases reported by the DCJS include felony assault, violation of protective order, and assault 3 and related offenses. Taken all together, the number of men listed as victims in domestic violence cases decreased from 5,431 in 2017 to 4,377 in 2018. But the number of female victims not only increased in the same timeframe. It reached a 10-year record high, with over 20,000 women listed as victims of domestic violence crimes.</p>
  <p>Women are disproportionately affected by domestic violence crimes compared to men. In 2018, women were attacked almost five times as much as men. In 10 years, females accounted for 82% of all domestic violence attacks.</p>
</div>