<div class="story-body">
  <p>While the latest annual data was incomplete, it was already higher than the year prior. Officials said that domestic violence homicides were in part responsible to the latest murder spike in the city.</p>
  <p>Women of color are disproportionately affected by intimate partner homicides, according to the latest report.</p>
  <p>Even though black females account for 13 percent of the population in New York City, they accounted for 30.9 percent of intimate partner homicides. Hispanic females account for 14.6 percent of the population in New York City, but accounted for 25.1 percent of murders.</p>
</div>