<div class="story-body">
    <br>
    <br>
    <p class='chart-title'>Sexual Offense Crimes Against Women</p>
    <p class='chart-subhead'>Domestic violence crimes such as rape and sexual abuse where women were listed as victims increased in all boroughs, reaching all-time highs since 2012.</p>
    <p class='chart-subhead'>Tap or hover on a circle to see details for each year.</p>
    <div id="chart-1"></div>
    <br>
    <p class='chart-source'>Source: NYS Division of Criminal Justice Services (DCJS).</p>
    <br>
</div>

<script src="scripts/chart-01.js"></script>
