<div class="story-body">
    <br>
    <br>
    <p class='chart-title'>Domestic Abuse and Gender</p>
    <p class='chart-subhead'>Women were listed as the victims close to five times as much as men.</p>
    <p class='chart-subhead'>Tap or hover on a circle to see details for each year.</p>
    <div id="chart-2"></div>
    <br>
    <p class='chart-source'>Source: NYS Division of Criminal Justice Services (DCJS).</p>
    <br>
</div>

<script src="scripts/chart-02.js"></script>
