<div class="story-body">
    <br>
    <br>
    <p class='chart-title'>Domestic Violence Homicides on the Rise</p>
    <p class='chart-subhead'>Homicides in New York City by intimate partners or other family members have increased in the last three years.</p>
    <p class='chart-subhead'>Tap or over on a bar to see details for each year.</p>
    <div id="chart-3"></div>
    <p class='chart-source'>Note: Data for 2019 is incomplete and comes from NYPD News Briefing on Dec. 5, 2019.</p>
    <p class='chart-source'>Source: NYC Domestic Fatality Review Committee Annual Report.</p>
    <br>
</div>

<script src="scripts/chart-03.js"></script>
