<div class="story-body">
  <br>
  <p>Other murders were caused by blunt trauma, strangulation, asphyxiation or other sorts of physical force. "The number of intimate partner homicide-suicides that occurred over the past year reflects the need for more detailed study to illuminate the circumstances leading up to the homicide-suicide, including life stressors or health considerations that may be part of the perpetrators experiences," the report concluded.</p>
</div>
<div class="footer">
  <p class="note"><b>Data and Methodology</b></p>
  <p class="note">The data was downloaded from the New York State Division of Criminal Justice Services and the New York Domestic Violenece Fatality Review Committee <a href='https://www1.nyc.gov/assets/ocdv/downloads/pdf/2019_frc_annual_report_final.pdf'>annual report</a>.</p>
  <p class="note">I downloaded datasets from 2009 to 2018 from the NYS DCJS. There was a considerable outlier in 2010 of sexual offense crimes in Queens, possibly from a change in methodology, so I opted to use data from 2012 to 2018 instead. The intimate partner homicide data was gathered from the committee. A clearer data analysis should include 2019 data to see the latest trends.</p>
  <p class='note'>Tools used: D3.js, Python (pandas), matplotlib, Adobe Illustrator, ai2html, HTML, CSS.</p>
</div>
<div class="button" id="click"><a href="https://github.com/elenamlutz/domestic-violence-nyc"> VIEW CODE</a></button></div>
