---
headline: "Domestic Violence is Getting Worse in New York City"
published_date: "January 13, 2020"
site: "http://www.littlecolumns.com"
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
author:
    name: "Elena Mejia"
    url: "http://elenamejialutz.com/"
    twitterHandle: "@dangerscarf"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

{{> story/basic }}

{{> story/chart }}

{{> story/basic2 }}

{{> story/chart2 }}

{{> story/basic3 }}

{{> story/chart3 }}

{{> story/basic4 }}
<br>
<p class='chart-title'>More Violence Against Minorities</p>
<p class='chart-subhead'>From 2010 to 2018, Black and Hispanic females accounted for over 50 percent of murders, even though they make up less than 30 percent of the city population.</p>
<br>
{{> story/illustrator}}
<div class="story-body">
<br>
<p class='chart-source'>Source: NYC Domestic Fatality Review Committee Annual Report.</p>
{{> story/basic5 }}
<br>
<p class='chart-title'>Firearms and Knives Are the Main Weapon</p>
<p class='chart-subhead'>There was a 40 percent increase in the use of knives or weapons in intimate partner murders from 2017 to 2018. Other methods included blunt trauma, asphyxiation or physical force.</p>
<p style="text-align: center"><img src="images/waffle-01.png" class='img1'></p>
<p class='chart-source'>Source: NYC Domestic Fatality Review Committee Annual Report.</p>
{{> story/notes }}